* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #c8daf7;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#convertButton:hover {
  background-color: #7f8a9b;
}

#convertButton:active {
  background-color: #616b7a;
}

a:hover {
  color: black;
}

.current {
  color: black;
  text-decoration: underline;
}

.digit {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#digitconverter {
  color: #3c3c3d;
  text-align: center;
  margin-bottom: 0;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#romanNumerals {
  text-decoration: none;
  text-align: center;
}

#binaryNumbers {
  text-decoration: none;
  text-align: center;
}

#displayDiv {
  text-align: center;
}

#mainInput {
  background-color: #c2c3c4;
  text-align: center;
  border: none;
}

#convertButton {
  background-color: #a5b6d1;
  border: none;
}

/*
  MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
  .container {
    margin-top: 40px;
    height: 400px;
  }
  #digitconverter {
    font-size: 64px;
  }
  #menu {
    width: 35%;
  }
  #romanNumerals {
    font-size: 16px;
    margin-top: -30px;
  }
  #binaryNumbers {
    font-size: 16px;
    margin-top: -30px;
  }
  #displayDiv {
    margin-top: 30px;
    font-size: 40px;
  }
  #mainInput {
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
  }
  #convertButton {
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .container {
    margin-top: 30px;
    height: 350px;
  }
  #digitconverter {
    font-size: 56px;
  }
  #menu {
    width: 60%;
  }
  #romanNumerals {
    font-size: 14px;
    margin-top: -30px;
  }
  #binaryNumbers {
    font-size: 14px;
    margin-top: -30px;
  }
  #displayDiv {
    margin-top: 20px;
    font-size: 30px;
  }
  #mainInput {
    padding: 15px;
    border-radius: 5px;
    font-size: 30px;
  }
  #convertButton {
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    margin-top: 50px;
    height: 300px;
  }
  #digitconverter {
    font-size: 32px;
  }
  #menu {
    width: 90%;
  }
  #romanNumerals {
    font-size: 14px;
    margin-top: -30px;
  }
  #binaryNumbers {
    font-size: 14px;
    margin-top: -30px;
  }
  #displayDiv {
    margin-top: 15px;
    font-size: 24px;
  }
  #mainInput {
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
  }
  #convertButton {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }
}
